
        .categorie-drop-list {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .categorie-cards {
            display: grid;
            height: auto;
            gap: 10px;
            row-gap: 20px;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            padding: 70px 20px;
            max-width: 1200px;
            margin: 0 auto;
        }