 .categorie-product {
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
 }

 .product-cator-page {
     display: grid;
     height: auto;
     gap: 10px;
     row-gap: 20px;
     grid-template-columns: repeat(4, 1fr);
     justify-items: center;
     padding: 70px 20px;
     max-width: 1200px;
     margin: 0 auto;
 }

 .card-type-three {
     width: 260px;
     height: auto;
     padding: 0 10px;
 }

 .card-type-three img {

     border-radius: 15px;
 }

 .tet-sec-two {
     display: flex;
     justify-content: center;
     flex-direction: column;
     padding: 35px 0px 10px 0px;
     /* padding-left: 2px; */
 }


 .card-body .h3 {
     text-decoration: none;
     font-size: 14px;
     color: #999;
     font-weight: 700;
     text-transform: uppercase;
 }

 .ellip-twwo {
     font-size: 18px;
     font-weight: bold;
     font-family: sans-serif;
     color: rgba(0, 0, 0, 0.829);
     text-decoration: none;
     white-space: nowrap;
     overflow: hidden;
     width: 160px;
     display: inline-block;
     text-overflow: ellipsis;
     margin-bottom: 4px;
     margin-top: 7px;
 }

 .ellip-twwo:hover {
     color: #F65D4E;
 }
.nextpage{
    padding-bottom: 70px;
}
 .nextpage a {
color: black;
     text-decoration: none;
     padding: 0 10px;
     font-weight: 500;
 }

 .nextpage a:hover {
     color: #F65D4E;

 }