  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }


  /* ----------------------------------------------------------------nav------------------------------------------------------------------- */
  .nav {
      position: sticky;
      top: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      width: 100%;
      height: 10vh;
      background-color: #FFFFFF;
  }

  /* @media (max-width:800px) {

      .nav .achor {
          display: flex;
          gap: 15px;
      }

      .nav .achor a {
          font-size: 0.8rem;
      }

      .nav .logo img {
          margin-top: 40px;
          height: 20px;
      }

      .nav .icon i {
          font-size: 0.8rem;
      }
  } */

  @media (max-width:600px) {

      .nav .icon {
          display: none;
      }

      .nav .achor {
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #FFFFFF;
          height: 300px;
          padding: 10px;
          position: absolute;
          top: 65px;
          left: 0px;
      }

  }

  .logo1 img {
      max-height: 80px;
      width: 220px;
      object-fit: cover;
  }

  .achor {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
  }

  .achor a {
      position: relative;
      text-decoration: none;
      color: #1D1D1D;
      font-weight: 600;

  }

  .dropdown {
      position: relative;
  }


  .dropdown-content {
      position: absolute;
      top: 100%;
      left: -3px;
      background-color: #ffff;
      border-radius: 5px;
      padding: 8px 0;
      min-width: 180px;
      display: none;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      z-index: 999;

  }

  .dropdown-content a {
      padding: 10px;
      display: block;
      text-decoration: none;
      color: black;
      font-weight: 400;
  }

  .dropdown-content a:hover {
      background-color: #f5f5f5;
  }

  .dropdown:hover .dropdown-content {

      display: block;
  }

  .achor a::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #F65D4E;
      transition: ease 0.3s;
  }

  .achor a:hover {
      color: #F65D4E;
  }

  .achor a:hover::after {
      width: 100%;
  }

  .icon {
      display: flex;
      gap: 10px;
      cursor: pointer;
  }

  .icon i {
      color: #1D1D1D;
      font-size: 1.2rem;
  }

  /* ---------------------------------slide------------------------------------------------------------------------------- */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
      filter: brightness(0);
  }

  .second-slide img {
      height: 50vh;
      object-fit: cover;
  }

  .carousel-caption {
      position: absolute;
      top: 20%;
      left: 53%;
      text-align: left;
  }

  .carousel-caption button {
      background-color: #F65D4E;
      padding: 8px 35px;
      border-radius: 30px;
      border: none;
      color: white;
      font-weight: bold;
      font-size: 12px;
  }

  .colour h2 {
      color: #F65D4E;
      margin-bottom: 30px;
  }

  .colour p {
      color: black;
      font-size: 0.7rem;
  }

  @media (max-width:600px) {
      .carousel-caption {
          position: absolute;
          top: 5%;
          left: 53%;
          text-align: left;
      }

      .carousel-caption p {
          font-size: 0.5rem;
      }

      .carousel-caption h1 {
          font-size: 1.5rem;
      }

      .carousel-caption h2 {
          font-size: 1rem;
      }

      .carousel-caption,
      .colour h2 {
          margin-bottom: 10px;
      }

      .carousel-caption button {
          padding: 5px 25px;
          font-size: 8px;
      }
  }

  /* --------------------------------------------------------headings------------------------------------------------------------------------ */
  .heading {
      display: flex;
      align-items: center;
      gap: 25px;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      padding-top: 70px;
  }


  .heading h2 {
      color: black;
      font-family: system-ui;
      font-size: 2.5rem;
      font-weight: 600;

  }

  .line {
      flex: 1;
      height: 1px;
      background: #E8E8E8;

  }

  .heading a {
      text-decoration: none;
      background-color: #F65D4E;
      color: white;
      font-weight: bold;
      font-size: 16px;
      padding: 10px 35px;
      border-radius: 30px;
  }

  /* -----------------------------------------------------------footer------------------------------------------------------------------------------- */
  .footer {
      width: 100%;
      height: auto;
      background-color: #1D1D1D;
      position: relative;
  }

  .foot-area {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(5, 1fr);
      margin: 0 auto;
      max-width: 1200px;
      padding: 70px 20px;
  }

  @media (max-width:1190px) {
      .foot-area {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-items: start;
      }
  }

  @media (max-width:1130px) {
      .foot-area {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: start;
      }

      .foot-col {
          margin-bottom: 20px;
      }
  }

  @media (max-width:800px) {
      .foot-area {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-items: start;
      }

      .foot-col {
          margin-bottom: 30px;
      }

      .foot-col.one {
          margin-bottom: 40px;
      }

      .logo {
          margin-bottom: 40px;
          padding-left: 20px;
      }

      .copy {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
  }

  .foot-col {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .foot-area a {
      text-decoration: none;
      color: gray;
      font-weight: bold;
      transition: 0.3s ease;
  }

  .foot-area h3 {
      margin-bottom: 20px;
      font-size: 1.1rem;
      font-weight: bold;
      color: white;

  }

  .foot-area a:hover {
      color: #F65D4E;
  }

  .foot-area p {
      color: gray;

  }

  .foot-col i {
      font-size: 0.6rem;
  }

  .foot-col.one i {
      color: #F65D4E;
      font-size: 20px;
      padding-right: 30px;
  }

  .logo p {
      font-size: 14px;
  }


  .logo .iconn {
      display: flex;
      gap: 6px;
      padding-right: 20px;
  }

  .iconn i {
      font-size: 15px;
      padding-left: 7px;
      padding-right: 22px;
      padding-top: 8px;
      padding-bottom: 7px;
      border: 1px solid gray;
      border-radius: 50%;
      color: rgb(216, 205, 205);
      transition: 0.5s ease;

  }

  .iconn i:hover {
      color: #FFFFFF;
      background-color: #F65D4E;
      border: 1px solid #FFFFFF;

  }

  .foot-col {
      padding: 0px 20px;
  }

  .copy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      font-weight: 400;
      color: gray;
  }

  hr {
      color: #F65D4E
  }

  .fixed-but {

      background-color: #F65D4E;
      position: fixed;
      bottom: 40px;
      right: 50px;
      padding: 10px 12px;
  }

  .fixed-but:hover {
      background-color: rgb(6, 6, 48);
  }

  /* --------------------------------------deal section---------------------------------------------------------- */
  .deal-sec {
      display: grid;
      align-content: center;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      max-width: 1200px;
      margin: 0px auto;
      padding: 60px 20px;
  }

  @media (max-width:905px) {
      .deal-sec {
          display: grid;
          grid-template-columns: 1fr;
          align-content: center;

      }

      .backg-imge {
          margin-bottom: 30px;
      }
  }

  @media (max-width:800px) {
      .heading a {
          display: none;
      }

      .heading .line {
          display: none;
      }

      .backg-imge img {
          width: 740px;

      }


  }


  @media (max-width:600px) {
      .deal-sec .backg-imge img {
          width: auto;
          height: auto;
      }

      .deal-sec .backg-imge {
          border-radius: 30px;
          position: relative;
          height: auto;
          width: auto;
      }

      .deal-sec .backg-imge-text h2 {
          font-size: 1.5rem;
          font-weight: bold;
      }

      .deal-sec .backg-imge-text {
          font-size: 0.7rem;
      }

      .deal-sec .backg-imge-text {
          position: absolute;
          top: 50%;
          right: 11%;

      }

  }

  @media (max-width:510px) {
      .deal-sec .backg-imge img {
          width: auto;
          height: auto;
      }

      .deal-sec .backg-imge {
          border-radius: 30px;
          position: relative;
          height: auto;
          width: auto;
      }

      .deal-sec .backg-imge-text h2 {
          font-size: 1.3rem;
          font-weight: bold;
      }

      .deal-sec .backg-imge-text p {
          font-size: 0.8rem;

      }
  }


  @media (max-width:400px) {
      .deal-sec .backg-imge-text p {
          font-size: 0.6rem;
          margin-bottom: 15px;
      }

      .deal-sec .backg-imge-text h2 {
          font-size: 1rem;
          margin-bottom: 10px;
      }

      .deal-sec .backg-imge-text a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 0.5rem;
          background-color: #FFFFFF;
          padding: 10px 40px;
          border-radius: 30px;
          transition: 0.5s ease;

      }


      .deal-sec .backg-imge-text {
          position: absolute;
          top: 50%;
          right: 14%;

      }
  }


  .backg-imge {
      border-radius: 30px;
      position: relative;
      height: 1020px;
      width: 760px;
  }

  .backg-imge img {
      height: 1020px;
  }

  .backg-imge-text {
      position: absolute;
      top: 52%;
      left: 15%;
      right: 15%;
      color: #FFFFFF;
  }

  .backg-imge-text h2 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 22px;
  }

  .backg-imge-text p {
      font-size: 1rem;
      margin-bottom: 45px;
  }

  .backg-imge-text a {
      text-decoration: none;
      color: black;
      font-weight: 500;
      background-color: #FFFFFF;
      padding: 15px 60px;
      border-radius: 30px;
      transition: 0.5s ease;

  }

  .backg-imge-text a:hover {
      background-color: #F65D4E;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
  }

  /* -----------------------------------------------------deal-sec card----------------------------------------------------- */
  .continer-card {
      padding: 0 20px;
  }

  .card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 180px;
      width: 280px;
      border: none;
      margin: 13px 0;
  }

  .card img {
      width: 120px;
      height: 180px;
      border-radius: 15px;
      object-fit: cover;

  }

  .card-body {
      padding: 10px 15px;

  }

  .card-body .h2 {
      font-weight: 700;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 14px;
      color: #999;
  }

  .rate {
      color: #FDCC0D;
      font-size: 0.8rem;
      margin-bottom: 15px;
  }

  .ellip {
      font-size: 16px;
      font-weight: bold;
      font-family: sans-serif;
      color: rgba(0, 0, 0, 0.829);
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      width: 210px;
      display: inline-block;
      text-overflow: ellipsis;
      margin-top: 10px;
      margin-bottom: 15px;
  }

  .ellip:hover {
      color: #F65D4E;
  }

  .card-body h2 {
      font-weight: bold;
      font-family: sans-serif;
      font-size: 23px;
      color: #F65D4E;

  }

  hr {
      color: #a09e9e;
      margin-bottom: 30px;
  }

  /* ---------------------------------------------------productsecheading------------------------------------------------------------------ */
  .product-area {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }

  .product-head {
      text-align: center;
      /* margin-bottom: 40px; */
  }

  .product-head a {
      position: relative;
      text-decoration: none;
      color: #999;
      font-weight: 600;
      margin-left: 30px;
      font-size: 1rem;
      margin-right: 30px;

  }


  .product-head a::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #F65D4E;
      transition: ease 0.3s;
  }

  .product-head a:hover {
      color: black;
  }

  .product-head a:hover::after {
      width: 100%;

  }

  /* --------------------------------------------------------------------------prductheadingacnhor------------------------------------------------------------ */
  .products {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 70px 20px 50px 20px;

  }

  @media (max-width:1240px) {
      .products {
          display: grid;
          grid-template-columns: repeat(5, 1fr);

      }
  }

  @media (max-width:1130px) {
      .products {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          justify-items: center;
          align-content: center;
      }
  }

  @media (max-width:900px) {
      .products {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
          align-content: center;
      }
  }

  @media (max-width:510px) {
      .products {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          align-content: center;
      }

  }

  @media (max-width:400px) {
      .products {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
          align-content: center;
      }

      .porduct-area .product-head a {
          font-size: 0.7rem;

      }
  }



  .card-type-two {
      width: 200px;
      height: auto;
  }

  .card-type-two img {
      width: 160px;
      height: 260px;
      object-fit: cover;
      border-radius: 15px;
  }

  .tet-sec {
      padding: 20px 0px 10px 0px;
      /* padding-left: 2px; */
  }


  .card-body .h3 {
      text-decoration: none;
      font-size: 14px;
      color: #999;
      font-weight: 700;
      text-transform: uppercase;
  }

  .ellip-two {
      font-size: 16px;
      font-weight: bold;
      font-family: sans-serif;
      color: rgba(0, 0, 0, 0.829);
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      width: 160px;
      display: inline-block;
      text-overflow: ellipsis;
      margin-bottom: 4px;
      margin-top: 7px;
  }

  .ellip-two:hover {
      color: #F65D4E;
  }

  .show-but {
      text-align: center;
  }

  .show-but a {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 600;
      background-color: #F65D4E;
      padding: 15px 65px;
      border-radius: 25px;

  }

  .show-but a:hover {
      transition: 0.3s ease;
      border-radius: 0px;
  }

  /* -----------------------------------------------------------------banner--------------------------------------------------------------- */



  .banner {
      position: relative;
      padding-top: 70px;
      margin: 0 auto;
      height: auto;
      width: 100%;
  }


  .bimg-text {
      width: 200px;
      position: absolute;
      top: 156px;
      left: 50px;
      background-color: #fff;
      text-align: center;
      width: 35%;
      padding: 51px 80px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;

  }

  @media (max-width:800px) {
      .bimg-text {
          width: 60%;
          height: 77%;
      }
  }

  @media (max-width:510px) {
      .bimg-text {
          width: 80%;
          height: 77%;
      }

      .banner .bimg-text p {
          font-size: 1rem;
      }
  }

  @media (max-width:350px) {
      .banner .bimg-text p {
          font-size: 0.6rem;
      }

      .banner .bimg-text h3 {
          font-size: 0.7rem;
      }

  }

  .bimg-text p {

      font-weight: 600;
      margin-bottom: 70px;
      font-size: 1.3rem;
  }

  .bimg-text h3 {

      color: #999;
      font-weight: 400;
      margin-bottom: 40px;
      font-size: 18px;

  }

  /* -------------------------------------------------------------------------------discountthirdsection---------------------------------- */

  .dis-section-third {
      height: auto;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }

  .banner-product-conta {
      padding: 70px 20px 0px 20px;
      margin: 0px auto;
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
  }

  .thirdproduct {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;

  }

  @media (max-width:800px) {
      .banner-product-conta {

          padding: 70px 0px 0px 11px;
      }

      .thirdproduct {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;


      }

      .thirdbanner img {
          height: 1750px;
          object-fit: cover;
          border-radius: 10px;
          width: 330px;
      }
  }

  @media (max-width:600px) {
      .banner-product-conta {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: flex-start;
      }

      .thirdbanner img {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 10px;

      }

      .thirdproduct {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
          align-content: center;


      }

      .thirdbanner .ban-tetx {
          position: absolute;
          bottom: 10%;
          left: 50px;

      }
  }

  @media (max-width:510px) {
      .thirdproduct {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          align-content: center;


      }
  }

  @media (max-width:400px) {
      .banner-product-conta {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: center;
      }

      .thirdproduct {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
          align-content: center;


      }
  }

  .thirdbanner {
      position: relative;
      height: auto;
      width: 360px;

  }

  .ban-tetx {
      position: absolute;
      bottom: 23%;
      left: 50px;

  }

  .ban-tetx h3 {
      font-family: sans-serif;
      font-weight: bold;
      margin-bottom: 12px;
      color: #fff;
      font-size: 36px;
  }

  .ban-tetx h2 {
      font-family: sans-serif;
      font-weight: bold;
      color: #fff;
      font-size: 50px;
  }

  .ban-tetx p {
      font-family: sans-serif;
      margin-top: 25px;
      margin-bottom: 60px;
      color: #fff;
      font-size: 20px;
  }

  .ban-tetx a {
      margin: 50px 0px;
      text-decoration: none;
      color: black;
      font-weight: 500;
      background-color: #FFFFFF;
      padding: 15px 60px;
      border-radius: 30px;
      transition: 0.5s ease;

  }

  .ban-tetx a:hover {
      background-color: #F65D4E;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
  }

  /* /* ------------------------------------------ discount-post--------------------------------------------------------------------- */

  .three-post {

      height: auto;
      padding: 0px 20px;
      margin: 40px auto;
      max-width: 1200px;
      display: grid;
      /* gap: 5px; */
      align-content: center;
      justify-items: center;
      grid-template-columns: 1fr 2fr 1fr;
      text-align: center;
  }

  @media (max-width: 1050px) {
      .three-post {
          display: grid;
          grid-template-columns: 1fr 2fr;
          justify-items: start;
          gap: 10px;
          padding: 0px 20px;
          align-content: center;

      }

      .three-post h2 {
          font-size: 1rem;
      }

  }

  @media (max-width: 800px) {

      .three-post .post2 .post-text2 {
          position: absolute;
          left: 17%;
          top: 35px;
      }

      .three-post .post1 .post-text1 {
          position: absolute;
          left: 30%;
      }

      .three-post .post3 .post-text3 {
          position: absolute;
          left: 21%;
      }
  }

  @media (max-width: 600px) {

      .three-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 15px;

      }

      .three-post .post1 .post-text1 {
          position: absolute;
          left: 34%;
      }

      .three-post .post2 .post-text2 {
          position: absolute;
          left: 10%;
          top: 35px;
      }

      .three-post .post3 .post-text3 {
          position: absolute;
          left: 27%;
      }

      .three-post .post2 img {
          height: 250px;
          width: 100%;


      }


  }

  @media (max-width: 400px) {
      .three-post .post2 .post-text2 {
          position: absolute;
          left: 14%;
          top: 34px;
      }

      .three-post .post2 .post-text2 p {
          margin-bottom: 0px;
          font-size: 0.6rem;
      }

      .three-post .post1 .post-text1 p {

          font-size: 0.6rem;
      }

      .three-post .post3 .post-text3 p {

          font-size: 0.6rem;
      }

      .three-post .post2 .post-text2 h2 {
          font-size: 0.8rem;
      }

      .three-post .post1 .post-text1 h3 {
          font-size: 0.8rem;
      }

      .three-post .post1 .post-text1 a {
          font-size: 0.6rem;
      }

      .three-post .post2 .post-text2 a {
          font-size: 0.6rem;
      }

      .three-post .post3 .post-text3 a {
          font-size: 0.6rem;
      }
  }




  .three-post .post1,
  .post2,
  .post3 {
      object-fit: cover;
      padding: 0px 10px;
      position: relative;
  }

  .three-post .post-text1 {
      left: 20%;
      position: absolute;
      top: 62%;

  }

  .three-post .post-text2 {
      left: 0%;
      position: absolute;
      top: 40px;

  }

  .three-post .post-text3 {
      position: absolute;
      top: 40px;
      left: 8%;

  }

  .three-post h2 {
      color: #F65D4E;
      font-family: sans-serif;
      font-weight: 700;
      line-height: 2.5rem;

  }

  .three-post p {
      color: black;
      font-weight: 500;
  }

  .three-post i {

      font-size: 0.7rem;
      text-align: center;
  }

  .three-post a {
      color: black;
      text-decoration: none;
      font-weight: 500;
  }

  .three-post a:hover {
      color: #F65D4E;
  }

  /* -----------------------------------------------------------categoriespost--------------------------------------------- */
  .Categorie-post {
      padding: 70px 20px;
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      justify-items: center;
      align-content: center;
      grid-template-columns: repeat(3, 1fr);
      position: relative;
      height: auto;
  }

  @media (max-width:800px) {
      .Categorie-post {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
      }

      .Categorie-post .cat-post {
          padding: 0 3px;
      }

      .Categorie-post .pst1 h3 {
          position: absolute;
          top: 29%;
          bottom: 80%;
          font-size: 1rem;
      }

      .Categorie-post .pst2 h3 {
          position: absolute;
          top: 29%;
          bottom: 80%;
          font-size: 1rem;

      }

      .Categorie-post .pst3 h3 {
          position: absolute;
          bottom: 17%;
          font-size: 1rem;

      }
  }

  @media (max-width:600px) {
      .Categorie-post {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 10px;
      }
  }

  @media (max-width:510px) {
      .Categorie-post .pst1 h3 {
          position: absolute;
          top: 23%;
          bottom: 80%;
          font-size: 1rem;
      }

      .Categorie-post .pst2 h3 {
          position: absolute;
          top: 52%;
          bottom: 50%;
          font-size: 1rem;

      }

      .Categorie-post .pst3 h3 {
          position: absolute;
          bottom: 10%;
          font-size: 1rem;

      }
  }

  .cat-post {

      padding: 0 20px;
  }

  .cat-post a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 0.2rem;

  }

  .cat-post h3 {
      font-size: 1.5rem;
      position: absolute;
      bottom: 20%;
      padding: 30px;
  }

  .cat-post img:hover {
      transition: 0.5s ease;
      transform: scale(1.1);
  }

  /* ---------------------------------------------------------------status----------------------------------------------------------------- */
  .status {
      padding: 70px 20px;
      margin: 0 auto;
      max-width: 1200px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-content: center;
  }

  @media (max-width:800px) {
      .status {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
          align-content: center;
          row-gap: 20px;
      }
  }

  @media (max-width:600px) {
      .status {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          justify-items: center;
          align-content: center;
          row-gap: 20px;
      }
  }

  .pro-info {
      text-align: center;
  }

  .pro-info h1 {
      font-size: 16px;
      font-weight: bolder;
  }

  .pro-info p {
      font-size: 16px;

  }

  .pro-info i {
      padding: 12px 0px;
      border-radius: 50%;
      margin-bottom: 20px;
      font-size: 2.5rem;
      min-width: 35%;
      color: #F65D4E;
      border: 2px solid #F65D4E;

  }