  * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }


    /* ----------------------------------------------------------------nav------------------------------------------------------------------- */
    .nav {
        position: sticky;
        top: 0;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        align-items: center;
        width: 100%;
        height: 10vh;
        background-color: #FFFFFF;
    }

    .achor {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .achor a {
        position: relative;
        text-decoration: none;
        color: #1D1D1D;
        font-weight: 600;

    }

    .achor a::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #F65D4E;
        transition: ease 0.3s;
    }

    .achor a:hover {
        color: #F65D4E;
    }

    .achor a:hover::after {
        width: 100%;
    }

    .icon {
        display: flex;
        gap: 10px;
        cursor: pointer;
    }

    .icon i {
        color: #1D1D1D;
        font-size: 1.2rem;
    }

    /* ---------------------------------slide------------------------------------------------------------------------------- */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        filter: brightness(0);
    }

    .second-slide img {
        height: 60vh;
        object-fit: cover;
    }

    .carousel-caption {
        position: absolute;
        top: 20%;
        left: 53%;
        text-align: left;
    }

    .carousel-caption button {
        background-color: #F65D4E;
        padding: 8px 35px;
        border-radius: 30px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    .colour h2 {
        color: #F65D4E;
    }

    .colour p {
        color: black;
        font-size: 0.7rem;
    }

    /* --------------------------------------------------------headings------------------------------------------------------------------------ */
    .heading {
        display: flex;
        align-items: center;
        gap: 25px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 70px;
    }


    .heading h2 {
        color: black;
        font-family: system-ui;
        font-size: 2.5rem;
        font-weight: 600;

    }

    .line {
        flex: 1;
        height: 1px;
        background: #E8E8E8;

    }

    .heading a {
        text-decoration: none;
        background-color: #F65D4E;
        color: white;
        font-weight: bold;
        font-size: 16px;
        padding: 10px 35px;
        border-radius: 30px;
    }

    /* -----------------------------------------------------------footer------------------------------------------------------------------------------- */
    .footer {
        width: 100%;
        height: auto;
        background-color: #1D1D1D;
        position: relative;
    }

    .foot-area {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(5, 1fr);
        margin: 0 auto;
        max-width: 1200px;
        padding: 70px 20px;
    }

    @media (max-width:1190px) {
        .foot-area {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: start;
        }
    }

    @media (max-width:1130px) {
        .foot-area {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: start;
        }

        .foot-col {
            margin-bottom: 20px;
        }
    }

    @media (max-width:800px) {
        .foot-area {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: start;
        }

        .foot-col {
            margin-bottom: 30px;
        }

        .foot-col.one {
            margin-bottom: 40px;
        }

        .logo {
            margin-bottom: 40px;
            padding-left: 20px;
        }

        .copy {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .foot-col {
        color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .foot-area a {
        text-decoration: none;
        color: gray;
        font-weight: bold;
        transition: 0.3s ease;
    }

    .foot-area h3 {
        margin-bottom: 20px;
        font-size: 1.1rem;
        font-weight: bold;
        color: white;

    }

    .foot-area a:hover {
        color: #F65D4E;
    }

    .foot-area p {
        color: gray;

    }

    .foot-col.one i {
        color: #F65D4E;
        font-size: 20px;
        padding-right: 30px;
    }

    .logo p {
        font-size: 14px;
    }


    .logo .iconn {
        display: flex;
        gap: 6px;
        padding-right: 20px;
    }

    .iconn i {
        font-size: 15px;
        padding-left: 7px;
        padding-right: 22px;
        padding-top: 8px;
        padding-bottom: 7px;
        border: 1px solid gray;
        border-radius: 50%;
        color: rgb(216, 205, 205);
        transition: 0.5s ease;

    }

    .iconn i:hover {
        color: #FFFFFF;
        background-color: #F65D4E;
        border: 1px solid #FFFFFF;

    }

    .foot-col {
        padding: 0px 20px;
    }

    .copy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        font-weight: 400;
        color: gray;
    }

    hr {
        color: #F65D4E
    }

    .fixed-but {

        background-color: #F65D4E;
        position: fixed;
        bottom: 40px;
        right: 50px;
        padding: 10px 12px;
    }

    .fixed-but:hover {
        background-color: rgb(6, 6, 48);
    }

    /* --------------------------------------deal section---------------------------------------------------------- */
    .deal-sec {
        display: grid;
        align-content: center;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
        margin: 0px auto;
        padding: 60px 20px;
    }

    @media (max-width:905px) {
        .deal-sec {
            display: grid;
            grid-template-columns: 1fr;
            align-content: center;
        }

        .backg-imge {
            margin-bottom: 30px;
        }
    }

    .backg-imge {
        border-radius: 30px;
        position: relative;
    }

    .backg-imge img {
        height: 1020px;
        width: 760px;
    }

    .backg-imge-text {
        position: absolute;
        top: 45%;
        padding: 10% 16%;
        color: #FFFFFF;
    }

    .backg-imge-text h2 {
        font-size: 3rem;
        font-weight: bold;
    }

    .backg-imge-text a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        background-color: #FFFFFF;
        padding: 15px 60px;
        border-radius: 30px;
        transition: 0.5s ease;

    }

    .backg-imge-text a:hover {
        background-color: #F65D4E;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }

    /* -----------------------------------------------------deal-sec card----------------------------------------------------- */
    .continer-card {
        padding: 0 20px;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 180px;
        width: 280px;
        border: none;
        margin: 13px 0;
    }

    .card img {
        width: 120px;
        height: 180px;
        border-radius: 15px;
        object-fit: cover;

    }

    .card-body {
        padding: 10px 15px;

    }

    .card-body .h2 {
        font-weight: 700;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
        color: #999;
    }

    .rate {
        color: #FDCC0D;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }

    .ellip {
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.829);
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        width: 210px;
        display: inline-block;
        text-overflow: ellipsis;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .ellip:hover {
        color: #F65D4E;
    }

    .card-body h2 {
        font-weight: bold;
        font-family: sans-serif;
        font-size: 23px;
        color: #F65D4E;

    }

    hr {
        color: #a09e9e;
        margin-bottom: 30px;
    }

    /* ---------------------------------------------------productsecheading------------------------------------------------------------------ */
    .product-area {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .product-head {
        text-align: center;
        /* margin-bottom: 40px; */
    }

    .product-head a {
        position: relative;
        text-decoration: none;
        color: #999;
        font-weight: 600;
        margin-left: 30px;
        margin-right: 30px;

    }

    .product-head a::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #F65D4E;
        transition: ease 0.3s;
    }

    .product-head a:hover {
        color: black;
    }

    .product-head a:hover::after {
        width: 100%;

    }

    /* --------------------------------------------------------------------------prductheadingacnhor------------------------------------------------------------ */
    .products {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: center;
        max-width: 1200px;
        margin: 0 auto;
        padding: 70px 20px 50px 20px;

    }

    @media (max-width:1240px) {
        .products {
            display: grid;
            grid-template-columns: repeat(5, 1fr);

        }
    }

    @media (max-width:1130px) {
        .products {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            align-content: center;
        }
    }

    @media (max-width:900px) {
        .products {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            align-content: center;
        }
    }

    @media (max-width:600px) {
        .products {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-content: center;
        }
    }

    @media (max-width:500px) {
        .products {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            align-content: center;
        }
    }



    .card-type-two {
        width: 200px;
        height: auto;
    }

    .card-type-two img {
        width: 160px;
        height: 260px;
        object-fit: cover;
        border-radius: 15px;
    }

    .tet-sec {
        padding: 20px 0px 10px 0px;
        /* padding-left: 2px; */
    }


    .card-body .h3 {
        text-decoration: none;
        font-size: 14px;
        color: #999;
        font-weight: 700;
        text-transform: uppercase;
    }

    .ellip-two {
        font-size: 16px;
        font-weight: bold;
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.829);
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        width: 160px;
        display: inline-block;
        text-overflow: ellipsis;
        margin-bottom: 4px;
        margin-top: 7px;
    }

    .ellip-two:hover {
        color: #F65D4E;
    }

    .show-but {
        text-align: center;
    }

    .show-but a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 600;
        background-color: #F65D4E;
        padding: 15px 65px;
        border-radius: 25px;

    }

    .show-but a:hover {
        transition: 0.3s ease;
        border-radius: 0px;
    }

    /* -----------------------------------------------------------------banner--------------------------------------------------------------- */



    .banner {
        position: relative;
        padding-top: 70px;
        margin: 0 auto;
        height: auto;
        width: 100%;
    }


    .bimg-text {
        width: 200px;
        position: absolute;
        top: 156px;
        left: 50px;
        background-color: #fff;
        text-align: center;
        width: 35%;
        padding: 51px 80px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

    }

    @media (max-width:1210px) {
        .bimg-text {
            width: 60%;
            height: 100%;
        }
    }

    .bimg-text p {

        font-weight: 600;
        margin-bottom: 70px;
        font-size: 1.3rem;
    }

    .bimg-text h3 {

        color: #999;
        font-weight: 400;
        margin-bottom: 40px;
        font-size: 18px;

    }

    /* -------------------------------------------------------------------------------discountthirdsection---------------------------------- */

    .dis-section-third {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .banner-product-conta {
        padding: 70px 20px 0px 20px;
        margin: 0px auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .thirdproduct {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;

    }

    .thirdbanner {
        position: relative;
    }

    .ban-tetx {
        position: absolute;
        bottom: 23%;
        left: 50px;

    }

    .ban-tetx h3 {
        font-family: sans-serif;
        font-weight: bold;
        margin-bottom: 12px;
        color: #fff;
        font-size: 36px;
    }

    .ban-tetx h2 {
        font-family: sans-serif;
        font-weight: bold;
        color: #fff;
        font-size: 50px;
    }

    .ban-tetx p {
        font-family: sans-serif;
        margin-top: 25px;
        margin-bottom: 60px;
        color: #fff;
        font-size: 20px;
    }

    .ban-tetx a {
        margin: 50px 0px;
        text-decoration: none;
        color: black;
        font-weight: 500;
        background-color: #FFFFFF;
        padding: 15px 60px;
        border-radius: 30px;
        transition: 0.5s ease;

    }

    .ban-tetx a:hover {
        background-color: #F65D4E;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }

    /* /* ------------------------------------------ discount-post--------------------------------------------------------------------- */

    .three-post {

        height: auto;
        padding: 0px 20px;
        margin: 40px auto;
        max-width: 1200px;
        display: grid;
        /* gap: 5px; */
        align-content: center;
        justify-items: center;
        grid-template-columns: 1fr 2fr 1fr;
        text-align: center;
    }

    .three-post .post1,
    .post2,
    .post3 {
        object-fit: cover;
        padding: 0px 10px;
        position: relative;
    }

    .three-post .post-text1 {
        position: absolute;
        top: 62%;
        padding: 0px 50px;

    }

    .three-post .post-text2 {
        position: absolute;
        top: 40px;
        padding: 0px 50px;

    }

    .three-post .post-text3 {
        position: absolute;
        top: 40px;
        padding: 0px 50px;

    }

    .three-post h2 {
        color: #F65D4E;
        font-family: sans-serif;
        font-weight: 700;
        line-height: 2.5rem;

    }

    .three-post p {
        color: black;
        font-weight: 500;
    }

    .three-post i {

        font-size: 0.7rem;
        text-align: center;
    }

    .three-post a {
        color: black;
        text-decoration: none;
        font-weight: 500;
    }

    .three-post a:hover {
        color: #F65D4E;
    }

    /* -----------------------------------------------------------categoriespost--------------------------------------------- */
    .Categorie-post {
        padding: 70px 20px;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        justify-items: center;
        align-content: center;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        height: auto;
    }

    .cat-post {
        padding: 0 20px;
    }

    .cat-post a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 0.2rem;

    }

    .cat-post h3 {
        font-size: 1.5rem;
        position: absolute;
        bottom: 20%;
        padding: 30px;
    }

    .cat-post img:hover {
        transition: 0.5s ease;
        transform: scale(1.1);
    }

    /* ---------------------------------------------------------------status----------------------------------------------------------------- */
    .status {
        padding: 70px 20px;
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-content: center;
    }
     .pro-info {
          text-align: center;
      }

      .pro-info h1 {
          font-size: 16px;
          font-weight: bolder;
      }

      .pro-info p {
          font-size: 16px;

      }

      .pro-info i {
          margin-bottom: 20px;
          font-size: 3rem;
          /* color: rgb(100, 99, 99); */
      }
       .one{
    color: #8c4fff;
      }
       .two{
    color: #00b0fc;
      }
      
       .threee{
    color: #ff5500;
      }